
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<div class="layui-header header-menu">
	<div class="layui-logo">jsets-security-shiro-demo</div>
	<!-- 头部区域（可配合layui已有的水平导航） -->
	<ul class="layui-nav layui-layout-right">
		<li class="layui-nav-item"><a href="javascript:;"> <img
				src="http://t.cn/RCzsdCq" class="layui-nav-img">
				${Session.shiro_current_user.userName!}
		</a>
			<dl class="layui-nav-child">
				<dd>
					<a href="${ctx}/abuot_me">基本资料</a>
				</dd>
			</dl></li>
		<li class="layui-nav-item"><a href="${ctx}/logout">退了</a></li>
	</ul>
</div>