
<div class="layui-side layui-bg-black">
	<div class="layui-side-scroll">
		<ul class="layui-nav layui-nav-tree" lay-filter="test">
			<li id="nav_user" class="layui-nav-item"><a
				href="${ctx}/user/list">用户管理</a></li>
			<li id="nav_user" class="layui-nav-item"><a
				href="${ctx}/role/list">角色管理</a></li>
			<li id="nav_user" class="layui-nav-item"><a
				href="${ctx}/resource/list">资源管理</a></li>
			<li id="nav_user" class="layui-nav-item"><a
				href="${ctx}/article/list">文章管理</a></li>
			<li id="nav_onlines" class="layui-nav-item"><a
				href="${ctx}/onlines">在线用户</a></li>
			<li id="nav_onlines" class="layui-nav-item"><a
				href="${ctx}/rest/hmac">HMAC摘要鉴权</a></li>
			<li id="nav_onlines" class="layui-nav-item"><a
				href="${ctx}/rest/jwt">JWT鉴权</a></li>
				
		</ul>
	</div>
</div>