<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.jsets.shiro.demo.mapper.RoleMapper">

	<resultMap id="roleMap" type="org.jsets.shiro.demo.domain.entity.RoleEntity">
		<result column="CODE" property="code" javaType="java.lang.String"/>
		<result column="NAME" property="name" javaType="java.lang.String"/>
		<result column="STATUS" property="status" javaType="java.lang.Integer"/>
		<result column="RESOURCE_NAMES" property="resourceNames" javaType="java.lang.String"/>
	</resultMap>
	
	<resultMap id="rolePermRuleMap" type="org.jsets.shiro.model.RolePermRule">
		<result column="URL" property="url" javaType="java.lang.String"/>
		<result column="NEED_ROLES" property="needRoles" javaType="java.lang.String"/>
	</resultMap>

	<select id="selectRoles" resultMap="roleMap" parameterType="String">
		SELECT
			T.*,
			P.RESOURCE_NAMES 
		FROM
			T_ROLE T
			LEFT JOIN (
			SELECT
				TRR.ROLE_ID,
				GROUP_CONCAT( TR.NAME ORDER BY TR.ID ) RESOURCE_NAMES 
			FROM
				T_ROLE_RESOURCE TRR
				JOIN T_RESOURCE TR ON TRR.RESOURCE_ID = TR.ID 
			GROUP BY
			TRR.ROLE_ID 
			) P ON T.CODE = P.ROLE_ID
	</select>
	
	<select id="selectRolePermRules" resultMap="rolePermRuleMap">
		SELECT URL,GROUP_CONCAT(T.ROLE_ID ORDER BY R.URL) NEED_ROLES
		FROM T_ROLE_RESOURCE T
		JOIN T_RESOURCE R ON T.RESOURCE_ID = R.ID
		GROUP BY R.URL
	</select>
	
</mapper>